<html ng-app>
<body>
	<!-- EXPRESSIONS-->

	<div id="expressions">
		<h2>AngularJS Expressions</h2>
		<p>Simple Expression : 1+1={{1+1}}</p>
		<p>Filtred Expression : 1+1.125874444={{1+1.125874444 | number : 4}}</p>
	</div>

	<!-- Basics 1-->

	<div id="model">
		<h2>AngularJS Model / View - Basics 1</h2>
		<label>Name : </label> <input type="text"
			placeholder="Type a name here!" ng-model="name">
		<h2>Hello {{name}} !</h2>
	</div>

	<!-- Basics 2-->
	<div id="model2" ng-init="qty=1;cost=2">
		<h2>AngularJS Model / View - Basics 2</h2>
		<label>Invoice:</label>
		<div>
			Quantity: <input type="number" min="0" ng-model="qty">
		</div>
		<div>
			Cost: <input type="number" min="0" ng-model="cost">
		</div>
		<div>Total : {{qty * cost | currency}}</div>

	</div>

	<!-- @Populate Script dependencies -->
	<script src="../../vendor_components/angular/1.5.5/angular.js"></script>
</body>
</html>
